@model SWEN_Dynamo.Models.UserModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datemodified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datemodified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLoginActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLoginActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "UsersList")
        </div>
    }
</div>
