@model IEnumerable<SWEN_Dynamo.Models.UserModel>

@{
    ViewBag.Title = "UsersList";
}

<h2>SWE Members Catalog</h2>

<p>
    @Html.ActionLink("Add new SWE Member", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.RID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datecreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datemodified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLoginActive)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vcode)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.RID)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datemodified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLoginActive)
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vcode)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.USID}) |
            @Html.ActionLink("Details", "Details", new {  id=item.USID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.USID  })
        </td>
    </tr>
}

</table>
