@model SWEN_Dynamo.Models.UserModel

@{
    ViewBag.Title = "UsersDetails";
}

<h2>UsersDetails</h2>

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datemodified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datemodified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
