@model SWEN_Dynamo.Models.TestModel


  

@{
    ViewBag.Title = "TestView";
}

<h2>TestView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.q)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.q)
        </th>
        <th></th>
    </tr>

        @foreach ( var item in Model.q )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.quest)
                </td>

                <td>
                    @Html.DropDownListFor(model => model.answer, Model.AnswerOptions);
                </td>
            </tr>
  

        }
  
</table>

<div class="form-group">

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" name="SaveSurvey" value="Save Survey" class="btn btn-default" />
        <input type="submit" name="DeploySurvey" value="Save and Deploy Survey" class="btn btn-default" />
    </div>
</div>
}
@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
@Html.ActionLink("Delete", "Delete", new { /* id=item.Primary,"Key */ })

