@model IEnumerable<SWEN_Dynamo.Models.SurveyModel>

@{
    ViewBag.Title = "SurveyList";
}

<h2>SurveyList</h2>

<p>
    @Html.ActionLink("Create New Survey", "SurveyStart")   <a class="col-lg-offset-8" href='javascript:history.go(-1)'>Go Back to your DashBoard</a>
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurveyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomQuestion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomQuestion2)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.USID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        @*<td>
        @Html.DisplayFor(modelItem => item.CreatedBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomQuestion1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomQuestion2)
    </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.USID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST)
        </td>
        <td>
            @Html.ActionLink("Edit/Deploy/Delete Surveys", "Navigator", new {  id=item.SurveyID  }) @*|
               @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.SurveyID })*@
            </td>
        </tr>
    }

    </table>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Log Out", "Logout", "Login")</li>
</ul>