@model IEnumerable<SWEN_Dynamo.Models.TakeSurveyStepTwo>

@{
    ViewBag.Title = "TakeSurveyStepTwo";
}

<h2>TakeSurveyStepTwo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ResponseToken)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TakeSurveyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ResponseToken)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TakeSurveyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyStatus)
        </td>
       @if (item.SurveyStatus != "Submitted")
       {
        <td>
            @Html.ActionLink("Open Survey", "TakeSurveyFinal", new { id = item.TakeSurveyID }) |
            @Html.ActionLink("Edit Last Saved Survey", "EditTakeSurveyFinal", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Submit Survey", "SubmitTakeSurveyFinal", new { /* id=item.PrimaryKey */ })
        </td>
       }
</tr>
}

</table>
